@font-face {
  font-family: "wotfardregular";
  src: url("../pages/src/assets/fonts/wotfard-regular-webfont.eot");
  src: url("../pages/src/assets/fonts/wotfard-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../pages/src/assets/fonts/wotfard-regular-webfont.woff2")
      format("woff2"),
    url("../pages/src/assets/fonts/wotfard-regular-webfont.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-weight-bold: 600;
  --font-weight-medium: 500;
  --font-weight-light: 400;
  --font-family: "Wotfard", Futura, -apple-system, sans-serif;
  --font-family-mono: "League Mono", "Fira Mono", monospace;
  --font-family-spicy: "Sriracha", "Wotfard", Futura, -apple-system, sans-serif;
  --reach-dialog: 1;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "wotfardregular", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
